@import url("https://fonts.googleapis.com/css2?family=Poppins&display=swap");

* {
  margin: 0%;
  padding: 0%;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

.container {
  display: flex;
  flex-direction: column;
  width: 100%;
  min-height: 100vh;
  padding: 2%;
  background: #7d1935;
  color: #fff;
  position: relative;
  justify-content: center;
}

.menu {
  width: 92%;
  position: absolute;
  top: 2%;
  left: 2%;
  display: grid;
  grid-template-columns: 60% 40%;
  place-items: center;
  z-index: 4;
}

.title {
  display: block;
  width: 100%;
}

.menu-btn {
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 30px;
  height: 30px;
  cursor: pointer;
  transition: all 0.3s ease-in-out;
  right: 6%;
  z-index: 10;
  transform: translateX(20px);
}

.menu-btn-burguer {
  width: 34px;
  height: 5px;
  background: #fff;
  border-radius: 5px;
}

.menu-btn-burguer::before,
.menu-btn-burguer::after {
  content: "";
  position: absolute;
  width: 36px;
  height: 5px;
  border-radius: 5px;
  background: #fff;
  transition: all 0.3s ease-in-out;
}

.menu-btn-burguer::before {
  transform: translateY(-8px);
}

.menu-btn-burguer::after {
  transform: translateY(8px);
}

.menu-btn.open .menu-btn-burguer {
  background: transparent;
}

.menu-btn.open .menu-btn-burguer::before {
  transform: rotate(45deg);
}

.menu-btn.open .menu-btn-burguer::after {
  transform: rotate(-45deg);
}

.navbar {
  width: 100%;
  height: 100vh;
  background: #7d1935;
  position: absolute;
  top: 0%;
  left: -100%;
  z-index: 3;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.navbar li {
  list-style: none;
  opacity: 0;
  transition: all 0.4s ease-in-out;
}

.navbar a {
  display: block;
  width: 100%;
  color: #fff;
  font-size: 42px;
  text-decoration: none;
}

.navbar li:hover {
  transform: scale(1.1);
}

.navbar.active {
  animation: opening 0.3s ease-out;
  transform: translateX(100%);
}

.navbar.active li {
  animation: showing 0.5s ease-out;
  opacity: 1;
}

.content {
  width: 100%;
}

.container h1 {
  font-size: 28px;
}

.container h2 {
  font-size: 20px;
}

.container p {
  font-size: 16px;
  margin-bottom: 8px;
}

@keyframes opening {
  0%,
  5% {
    transform: translateX(10%);
  }
  15% {
    transform: translateX(20%);
  }
  25% {
    transform: translateX(30%);
  }
  35% {
    transform: translateX(40%);
  }
  45% {
    transform: translateX(50%);
  }
  55% {
    transform: translateX(60%);
  }
  65% {
    transform: translateX(70%);
  }
  75% {
    transform: translateX(80%);
  }
  85% {
    transform: translateX(90%);
  }
  95% {
    transform: translateX(100%);
  }
}

@keyframes showing {
  10% {
    transform: translateY(-100%);
    opacity: 0;
  }
  20% {
    transform: translateY(-90%);
    opacity: 0;
  }
  30% {
    transform: translateY(-80%);
    opacity: 0;
  }
  40% {
    transform: translateY(-70%);
    opacity: 0;
  }
  50% {
    transform: translateY(-60%);
    opacity: 0;
  }
  60% {
    transform: translateY(-50%);
    opacity: 0.2;
  }
  70% {
    transform: translateY(-40%);
    opacity: 0.4;
  }
  80% {
    transform: translateY(-30%);
    opacity: 0.6;
  }
  90% {
    transform: translateY(-20%);
    opacity: 0.8;
  }
  100% {
    transform: translateY(0%);
    opacity: 1;
  }
}
