@import url("https://fonts.googleapis.com/css2?family=Poppins&display=swap");

* {
  margin: 0%;
  padding: 0%;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

.container {
  display: flex;
  flex-direction: column;
  width: 100%;
  min-height: 100vh;
  padding: 2%;
  background: #7d1935;
  color: #fff;
  position: relative;
  justify-content: center;
}

.menu {
  width: 92%;
  position: absolute;
  top: 2%;
  left: 2%;
  display: grid;
  grid-template-columns: 60% 40%;
  place-items: center;
  z-index: 6;
}

.title {
  display: block;
  width: 100%;
}

.menu-btn {
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 30px;
  height: 30px;
  cursor: pointer;
  transition: all 0.3s ease-in-out;
  right: 6%;
  z-index: 10;
  transform: translateX(20px);
}

.menu-btn-burguer {
  width: 34px;
  height: 5px;
  background: #fff;
  border-radius: 5px;
}

.menu-btn-burguer::before,
.menu-btn-burguer::after {
  content: "";
  position: absolute;
  width: 36px;
  height: 5px;
  border-radius: 5px;
  background: #fff;
  transition: all 0.3s ease-in-out;
}

.menu-btn-burguer::before {
  transform: translateY(-8px);
}

.menu-btn-burguer::after {
  transform: translateY(8px);
}

.menu-btn.active .menu-btn-burguer {
  background: transparent;
}

.menu-btn.active .menu-btn-burguer::before {
  transform: rotate(45deg);
}

.menu-btn.active .menu-btn-burguer::after {
  transform: rotate(-45deg);
}

.navbar ul {
  transform: translateY(-200%);
  opacity: 0;
}

.navbar li {
  list-style: none;
  transition: all 0.6s ease-in-out;
}

.navbar a {
  display: block;
  width: 100%;
  color: #fff;
  font-size: 42px;
  text-decoration: none;
}

.navbar li:hover {
  transform: scale(1.1);
}

.content {
  width: 100%;
}

.container h1 {
  font-size: 28px;
}

.container h2 {
  font-size: 20px;
}

.container p {
  font-size: 16px;
  margin-bottom: 8px;
}

.navbar {
  width: 100%;
  height: 100vh;
  position: absolute;
  top: 0%;
  left: 0%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  z-index: 5;
  text-align: center;
}

.effect {
  content: "";
  background: coral;
  position: absolute;
  width: 50%;
  height: 100vh;
  top: 0%;
}

.one {
  left: -100%;
}

.two {
  right: -100%;
  display: none;
}

.two.active {
  animation: openingR 0.4s;
  right: 0%;
  display: flex;
}

.one.active {
  animation: openingL 0.4s;
  left: 0%;
}

.navbar.active ul {
  animation: scrolling 0.8s;
  transform: translateY(0%);
  opacity: 1;
}

@keyframes openingL {
  0% {
    left: -100%;
  }
  10% {
    left: -90%;
  }
  20% {
    left: -80%;
  }
  30% {
    left: -70%;
  }
  40% {
    left: -60%;
  }
  50% {
    left: -50%;
  }
  60% {
    left: -40%;
  }
  70% {
    left: -30%;
  }
  80% {
    left: -20%;
  }
  90% {
    left: -10%;
  }
  100% {
    left: 0%;
  }
}

@keyframes openingR {
  0% {
    right: -100%;
  }
  10% {
    right: -90%;
  }
  20% {
    right: -80%;
  }
  30% {
    right: -70%;
  }
  40% {
    right: -60%;
  }
  50% {
    right: -50%;
  }
  60% {
    right: -40%;
  }
  70% {
    display: flex;
    right: -30%;
  }
  80% {
    right: -20%;
  }
  90% {
    right: -10%;
  }
  100% {
    right: 0%;
  }
}

@keyframes scrolling {
  0% {
    opacity: 0;
    transform: translateY(-200%);
  }
  5% {
    transform: translateY(-190%);
  }
  10% {
    transform: translateY(-180%);
  }
  15% {
    transform: translateY(-170%);
  }
  20% {
    transform: translateY(-160%);
  }
  25% {
    transform: translateY(-150%);
  }
  30% {
    transform: translateY(-140%);
  }
  35% {
    transform: translateY(-130%);
  }
  40% {
    transform: translateY(-120%);
  }
  45% {
    transform: translateY(-110%);
  }
  50% {
    transform: translateY(-100%);
    opacity: 0;
  }
  55% {
    transform: translateY(-90%);
  }
  60% {
    transform: translateY(-80%);
    opacity: 0;
  }
  65% {
    transform: translateY(-70%);
  }
  70% {
    transform: translateY(-60%);
  }
  75% {
    transform: translateY(-50%);
    opacity: 0.5;
  }
  80% {
    transform: translateY(-40%);
    opacity: 0.6;
  }
  85% {
    transform: translateY(-30%);
    opacity: 0.7;
  }
  90% {
    transform: translateY(-20%);
    opacity: 0.8;
  }
  95% {
    transform: translateY(-10%);
    opacity: 0.9;
  }
  100% {
    transform: translateY(0%);
    opacity: 1;
  }
}

@media all and (min-width: 767px) {
  .content h2 {
    font-size: 34px;
  }
  .content p {
    font-size: 22px;
  }
  .navbar a {
    font-size: 54px;
  }
}
