@import url("https://fonts.googleapis.com/css2?family=Montserrat&display=swap");

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Montserrat", sans-serif;
}

body {
  width: 100%;
  min-height: 100vh;
  background: #bfa2db;
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

section, header {
  width: 100%;
  max-width: 450px;
}

header {
  height: fit-content;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 2%;
  margin-top: 1vh;
  z-index: 10;
  position: relative;
}

.title h1 {
  font-size: 1em;
}

input {
  background: #fff;
  width: 80%;
  border: none;
  height: 5vh;
  border-radius: 5px;
  padding-left: 5px;
  color: #000;
}

input:focus {
  outline-color: #634581;
}

main {
  height: 70vh;
  width: 100%;
  padding: 1%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.location {
  display: flex;
  flex-direction: column;
  width: 100%;
  background: #63458130;
  padding: 1%;
  border-radius: 6px;
}

.location .city {
  font-size: 24px;
  font-weight: bolder;
  text-align: center;
}

.location .date {
  font-size: 20px;
  font-weight: bold;
  text-align: center;
}

.weather {
  width: 100%;
}

.details {
  width: 100%;
  background: #63458130;
  padding: 1%;
  margin-top: 5px;
  border-radius: 6px;
}

.weather-icon {
  height: fit-content;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 1%;
}

.temp {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.temp .current {
  font-size: 40px;
}

.temp .temp-symbol {
  font-size: 48px;
}

.temp .description {
  font-size: 20px;
  margin-left: 10px;
}

.more-details {
  display: flex;
  flex-direction: column;
  justify-content: left;
  font-size: 22px;
}

.more-cities {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: fit-content;
}

.more-cities .cities {
  width: 100%;
}

.more-cities .card {
  width: 100%;
  height: 5vh;
  background: #63458130;
  margin-bottom: 4px;
  border-radius: 5px;
  display: grid;
  grid-template-columns: 85% 15%;
  align-items: center;
  font-weight: bolder;
  padding: 1%;
  cursor: pointer;
  transition: all 0.6s;
  overflow: hidden;
}

.more-cities .card:hover {
  transform: scale(1.02);
}

.card.open {
  height: 15vh;
  max-height: 100px;
}

.card .data {
  columns: 2;
  margin-top: 2.4vh;
}

.no-available {
  display: none;
}

.no-available.open {
  position: fixed;
  width: 100%;
  min-height: 100vh;
  background: #634581;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  top: 0%;
  left: 0%;
}

.no-available p {
  font-size: 22px;
}

@media all and (min-width: 450px) {
  .menu {
    margin-left: 32px;
  }
}

@media all and (min-width: 700px) {
  section, header {
    max-width: 600px;
  }
  header {
    margin-bottom: 5%;
    padding: 0;
  }
  .menu {
    margin-left: 50px;
  }
  .weather-icon img {
    width: 140px;
  }
  .location .city {
    font-size: 32px !important;
  }
  .location .date {
    font-size: 28px !important;
  }
  .temp .current {
    font-size: 48px;
  }
  .temp .description {
    font-size: 28px;
  }
  .more-details {
    font-size: 22px;
  }
  .more-details span {
    font-size: 20px;
  }
  .more-cities .card {
    width: 100%;
  }
  .more-cities div {
    font-size: 18px;
  }
  .more-cities .data {
    margin-top: 8px;
  }
}