@import url("https://fonts.googleapis.com/css2?family=Montserrat&display=swap");

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Montserrat", sans-serif;
}

body {
  width: 100%;
  min-height: 100vh;
  background: #bfa2db;
  position: relative;
}

header {
  width: 100%;
  height: fit-content;
  display: grid;
  grid-template-columns: 80% 20%;
  justify-content: center;
  align-items: center;
  padding: 1%;
  z-index: 10;
  position: relative;
}

.title {
  width: 70px;
  height: 8vh;
  background: #ffffff3f;
  display: flex;
  align-items: flex-end;
  justify-content: center;
  color: #3b185f;
  position: absolute;
  bottom: 2%;
  right: 2%;
  border-radius: 6px;
}

.title h1 {
  font-size: 1em;
}

header input {
  background: #fff;
  border: none;
  height: 5vh;
  border-radius: 5px;
  padding-left: 5px;
  color: #000;
}

header input:focus {
  outline-color: #634581;
}

.menu-btn {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 34px;
  height: 30px;
  cursor: pointer;
  transition: all 0.3s ease-in-out;
  position: absolute;
  right: 2%;
}

.menu-btn-burguer {
  width: 30px;
  height: 5px;
  background: #ffffffdc;
  border-radius: 5px;
}

.menu-btn-burguer::before,
.menu-btn-burguer::after {
  content: "";
  position: absolute;
  width: 34px;
  height: 5px;
  border-radius: 5px;
  background: #ffffffdc;
  transition: all 0.3s ease-in-out;
}

.menu-btn-burguer::before {
  transform: translateY(-8px);
}

.menu-btn-burguer::after {
  transform: translateY(8px);
}

.menu-btn.active .menu-btn-burguer {
  background: transparent;
}

.menu-btn.active .menu-btn-burguer::before {
  animation: movementT 0.4s;
  transform: rotate(45deg);
}

.menu-btn.active .menu-btn-burguer::after {
  animation: movementB 0.4s;
  transform: rotate(-45deg);
}

main {
  height: fit-content;
  width: 100%;
  padding: 1%;
}

.location {
  background: #63458130;
  padding: 1%;
  border-radius: 6px;
}

.location .city {
  font-size: 24px;
  font-weight: bolder;
  text-align: center;
}

.location .date {
  font-size: 20px;
  font-weight: bold;
  text-align: center;
}

.details {
  background: #63458130;
  padding: 1%;
  margin-top: 5px;
  border-radius: 6px;
}

.weather-icon {
  height: fit-content;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 1%;
}

.temp {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.temp .current {
  font-size: 52px;
}

.temp .temp-symbol {
  font-size: 48px;
}

.temp .description {
  font-size: 20px;
  margin-left: 10px;
}

.more-details {
  display: flex;
  flex-direction: column;
  justify-content: left;
  font-size: 22px;
}

.more-details div:first-child {
  margin-bottom: 5px;
  display: grid;
  grid-template-columns: 80% 10% 10%;
  border-top: solid 1px #3c185f3b;
}

.more-details div {
  margin-bottom: 5px;
  display: grid;
  grid-template-columns: 60% 40%;
  border-bottom: solid 1px #3c185f3b;
}

.more-details span {
  font-size: 18px;
  text-align: right;
}

.more-cities {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: fit-content;
  padding: 1%;
}

.more-cities .card {
  width: 98%;
  height: 6vh;
  background: #63458130;
  margin-bottom: 4px;
  border-radius: 5px;
  display: grid;
  grid-template-columns: 95% 5%;
  align-items: center;
  font-weight: bolder;
  padding: 1%;
  cursor: pointer;
  transition: all 0.6s;
}

.more-cities .card:hover {
  transform: scale(1.02);
}

.more-cities .card:focus {
  outline-color: #3b185f;
}

.card.open {
  height: 20vh;
}

/* animations */

@keyframes movementT {
  0% {
    transform: translateY(-8px);
  }
  10% {
    transform: translateY(-6px);
  }
  20% {
    transform: translateY(-4px);
  }
  30% {
    transform: translateY(-2px);
  }
  40% {
    transform: translateY(0px);
  }
  50% {
    transform: rotate(0deg);
  }
  60% {
    transform: rotate(10deg);
  }
  70% {
    transform: rotate(20deg);
  }
  80% {
    transform: rotate(30deg);
  }
  90% {
    transform: rotate(40deg);
  }
  100% {
    transform: rotate(45deg);
  }
}

@keyframes movementB {
  0% {
    transform: translateY(8px);
  }
  10% {
    transform: translateY(6px);
  }
  20% {
    transform: translateY(4px);
  }
  30% {
    transform: translateY(2px);
  }
  40% {
    transform: translateY(0px);
  }
  50% {
    transform: rotate(0deg);
  }
  60% {
    transform: rotate(-10deg);
  }
  70% {
    transform: rotate(-20deg);
  }
  80% {
    transform: rotate(-30deg);
  }
  90% {
    transform: rotate(-40deg);
  }
  100% {
    transform: rotate(-45deg);
  }
}
